@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .item-middle {
    @apply flex items-center justify-center min-h-screen;
  }
}
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
* {
  font-family: "Noto Sans KR", sans-serif;
}

.scroll::-webkit-scrollbar {
  scrollbar-width: 8px;
  width: 8px;
}

/* 스크롤바 막대 꾸미기 */
.scroll::-webkit-scrollbar-thumb {
  background: #91c788;
  border-radius: 4px;
}

/* 스크롤바 트랙 꾸미기 */
.scroll::-webkit-scrollbar-track {
  background-color: #dbdbdb;
  border-radius: 4px;
}
.dark .scroll::-webkit-scrollbar-track {
  background-color: #4d4d4d;
}

.font-angkor {
  font-family: "Angkor", serif;
  font-style: normal;
}

.font-noto {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
}

.DraftEditor-root {
  width: 100%;
  border-radius: 8px;
  padding: 16px 0;
  color: black;
}
.dark .DraftEditor-root {
  width: 100%;
  border-radius: 8px;
  padding: 16px 0;
  color: #fefefe;
}
.public-DraftEditorPlaceholder-inner {
  color: #4d4d4d;
}
.dark .public-DraftEditorPlaceholder-inner {
  color: #dbdbdb;
}
