@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .item-middle {
    @apply flex items-center justify-center min-h-screen;
  }
}
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
* {
  font-family: "Noto Sans KR", sans-serif;
}

.scroll::-webkit-scrollbar {
  scrollbar-width: 8px;
  width: 8px;
}

/* 스크롤바 막대 꾸미기 */
.scroll::-webkit-scrollbar-thumb {
  background: #91c788;
  border-radius: 4px;
}

/* 스크롤바 트랙 꾸미기 */
.scroll::-webkit-scrollbar-track {
  background-color: #dbdbdb;
  border-radius: 4px;
}

.font-angkor {
  font-family: "Angkor", serif;
  font-style: normal;
}

.font-noto {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
